@model School.Models.Course

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tital)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Credits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Credits)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LevelId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseLevel.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCourseActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCourseActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CourseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
